<!DOCTYPE html>
<html>
<head>
  <%- include('../template/head') %> 
</head>

<body>
  <%- include('../template/navbar') %> 
  <section class="banner">
    <div class="banner__wrapper">
      <h1>存放技術之地</h1>
      <div>Welcome to my blog</div>
    </div>
  </section>
  <div class="container-wrapper">
    <div class="posts">
      <% articles.forEach((article)=>{ %>
      <article class="post">
        <div class="post__header">
          <div class = "post__title"><%= article.title %> </div>
          <div class="post__actions">
          <% if(username) { %>
            <a class="post__action" href="/update_article/<%= article.id %>">編輯</a>
          <% } %>
          </div>
        </div>
        <div class="post__info">
        <%= article.createdAt %>
        </div>
        <div class="post__content post__content__hidden"><%= article.content %> 
        </div>
        <a class="btn-read-more" href="/article/<%= article.id %> ">READ MORE</a>
      </article>
      <% }) %> 
    </div>
  </div>
  <footer>Copyright © 2020 Who's Blog All Rights Reserved.</footer>
</body>
</html>